@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.fc-popover {
  border-radius: 8px !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  padding: 6px !important;
}

.fc-popover .fc-daygrid-event {
  display: inline-flex !important;
  align-items: center;
  gap: 4px;
  width: auto !important;
  max-width: 100% !important;
  border: none !important;
  background: #e64646 !important; 
  color: #ad3e3e !important;      
  padding: 2px 6px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
  font-weight: 500;
  margin-bottom: 4px !important;
}


.fc-popover .fc-daygrid-event-dot {
  display: none !important;
}

